<launch>
	
	<node name="Turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen">
	</node>
	
	<node name="Turtle_Control" pkg="final0180" type="Turtle_Control.py" output="screen">
	</node>
	
	<node name="MotionLog" pkg="final0180" type="Motion_log.py" > output="screen">
	</node>
	
</launch>
